{% extends "base.html" %} {% block page_content %}

  <div class="col s12">
    <h1>{{ post.title }}</h1>
    <small>
      {{ post.created_on.date }} |&nbsp;
    </small>
    <p>{{ post.body | linebreaks }}</p>
    <br>
    <h3>Leave a comment:</h3>
    <br>
    <!-- form -->
    <form class="col s12" action="/blog/{{ post.pk }}/" method="post">
      {% csrf_token %}
      <div class="input-field col s6">
        
        <i class="material-icons prefix">account_circle</i> {{ form.author }}
      </div>
      <div class="input-field col s6">
        <i class="material-icons 
        prefix">mode_edit</i>
        {{ form.body }}
      </div>
      <button type="submit" class="btn waves-effect waves-light">Submit
        <i class="material-icons right">send</i>
        
      </button>
    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
      On {{comment.created_on.date }}&nbsp;
      <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr />
    {% endfor %}
  </div>
</div>
{% endblock %}
